.bannerSec{
    height: 770px;
    background-image: url(/assets/groundSystembg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bannerContent{
    max-width: 70%;
    padding-top: 210px;
}
.bannerContent p{
padding: 0 28%;
}
.bgMobile{
    display: none;
}
/* responsive  */
@media (min-width: 768px) and (max-width: 1024px) {
    .bannerContent{
        max-width: 100%;
    }
}

@media (max-width:767px){
    .bannerSec{
        background: none;
        height: 400px;
        position: relative;
        overflow: hidden;
    }
    .bannerContent{
        padding-top: 150px;
        max-width: 100%;
    }
    .bgMobile{
        display: block;
        position: absolute;
        left: 0;
        bottom: -40%;
    }
    .bannerContent p{
        padding: 0;
    }
}